ml/.DS_Store
ml/data/*
venv/*
.DS_Store
ml/__pycache__/*
ml/nilm_datasets/*
ml/models/kettle/checkpoints_cnn/*
ml/models_old/*
ml/models/*
ml/dataset_management/refit/__pycache__/*
ml/models/kettle/*
